/**

  COLORS:
  Light green: #7ed56f
  Primary green: #55c57a
  Dark green: #28b485

  Note: It is actually better to use rem as the unit of choice. This is because if the font size of the page changes, then all the other elements will scale nicely with this. This way, if the user zooms into the page, the elements will still maintain similar aspect ratios

  Generally, it is not advised to use em's. This is because, it will take a lot of calculations to get  the units right. ems will depend on the size of the parent element

  Note: This SCSS file has been derived from ../css/style.css. ../css/style.css was converted into this SCSS file

  Note: This project is also using the 7-1 architecture pattern, where we have one main SASS file to import all the other SASS files. The two folders that are notably missing in this project are themes and vendors. For now, we will not have custom themes. We are also not using any third party vendors css. So these folders have not been created. The end goal is to have no code in the main file. All this will do is import other css files

  Note: SCSS and SASS extensions both use the same preprocessor. The main difference is that the syntax in SCSS is easier to read. SCSS with brackets, where as SASS files are more like python
*/

/**
  Note: We are not using base/_base.scss
  SASS is smart enough to understand without us having to explicitly specify these values
*/

// abstracts folder
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
// base folder
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
// components folder
@import "components/button";
@import "components/composition";
@import "components/feature-box.scss";
@import "components/card";
@import "components/story";
@import "components/bg-video";
@import "components/book";
@import "components/form";
// layout folder
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";
// pages folder
@import "pages/home";
