.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.1);
    text-align: center;
    cursor: pointer;

    transition: all 0.1s;
    &:hover {
      transform: scale(1.1) translateY(-3px);
      box-shadow: 0 2rem 3rem rgba($color: $color-black, $alpha: 0.2);
    }
    &:active {
      transform: scale(1) translateY(-1.5px);
      box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.1);
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    right: 6.5rem;
    // top: 9.5rem;
    top: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: all 0.8s cubic-bezier(0.85, 0, 0.15, 1);

    // transform: scale(100);
  }
  &__nav {
    height: 100vh;
    // width: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 2rem;
  }
  &__link {
    &:link,
    &:visited {
      /**
            It is important to define how these elements should be displayed. Without this, a lot of the properties will not apply. Properties such as transform, padding all rely on what kind of display parameter is defined
        */
      display: inline-block;
      border-radius: $default-border-radius;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-transform: uppercase;
      //   background-image: linear-gradient(
      //     120deg,
      //     transparent 0%,
      //     transparent 50%,
      //     white 50%
      //   );

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      /**
        To achieve the animation, we need to increase the background size. Say we set it to 220%, then the background will be stretched to outside the link. Therefore, it will be essentially just covered with the transparent section of the image. 

        background-size: Percentage => Stretches the image in the corresponding dimension to the specified percentage of the background positioning area.
      */
      background-size: 250%;
      transition: all 0.3s;
    }

    /**
        Adding a span element allows the developer to easily define the spacing between the elements 
    */
    span {
      margin-right: 1.5rem;
    }

    &:hover {
      /**
        https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
        background-position: 100% => A value of 100% means that the right (or bottom) edge of the background image is aligned with the right (or bottom) edge of the container   
      */
      background-position: 100%;

      //   transform: scale(10);
      color: $color-primary-dark;
      border-radius: $default-border-radius;
      transform: translateY(-1rem) scale(1.1);
      box-shadow: 0rem 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
    }

    &:active {
      transform: translateY(-0.5rem) scale(1.1);
      box-shadow: 0rem 0.5rem 1rem rgba($color: $color-black, $alpha: 0.1);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    transition: all 0.1s;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.1s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:active &__icon::before {
    top: -0.8rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__button:active &__icon::after {
    top: 0.8rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    /**
        we want to rotate to flat and then back to 45 deg
    */
    // transform: rotate(180deg);
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    // transform: rotate(-180deg);
    transform: rotate(-135deg);
  }

  //   &__button__invisible {
  //     z-index: 3000;
  //   }
}
