.card {
  //   background-color: orangered;
  //   height: 50rem;
  //   transition: all 0.8s;

  /**
      This will make it so that the card feels like it is turning physically
  */
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  &__side {
    background-color: orangered;
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1rem;
    /**
        When we added the image, there was a problem. The image was no longer respecting the border-radius set on the page. 

        overflow:hidden will fix this issue.
    */
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);

    /**
        This is required to make the animation appear smoother
    */
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }
    &--back {
      /**
        Even before hovering, the backside is already flidded
        */
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    /**
        This will blend two images together
    */
    background-blend-mode: screen;
    /**
        Add the diagonal effect to the bottom of the image
        -webkit-clip-path: This is to make it work in all sites
    */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1 {
      background-image: url(../img/nat-5.jpg),
        linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
    }
    &--2 {
      background-image: url(../img/nat-5.jpg);
    }
    &--3 {
      background-image: url(../img/nat-5.jpg);
    }
  }
}
