.heading-primary {
  /**
    heading-primary can again be considered component or a typography. It makes more sense to put it in typography as this bit of code is dealing with how the text is displayed. 
  */
  color: $color-white;
  text-transform: uppercase;
  /**
    Sometimes when the animations play, it can be a bit shaky. Setting this property fixes it 
  */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    /**
      Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width 
    */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 4rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  /**
    Without displaying as the inline block, then text styling will span across the entire width of the page
  */
  display: inline-block;
  /**
    Applying the nice gradient color to the text
  */
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  /**
    This will make it so that the background (which is the linear gradient) is applied only to the back of the text.

    Combine this effect and color: transparent to add the nice gradient to the Text
  */
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;

  /**
    Adding some animations so to make the text cooler when we hover
  */
  transition: all 0.2s;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  /**
    As the name suggests, we want to apply this style to everything except the last paragraph
  */
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
