/**
    This file will contain the styles that are specific to the home page only
*/

.section-about {
  background-color: $color-grey-light-1;
  //   background-color: red;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);

  /**
    We are only trying to skew the background

    This is why we use the & > * to select all the direct children of this element. We will then skew it back to look straight
  */
  transform: skewY(-7deg);

  & > * {
    transform: skewy(7deg);
  }

  margin-top: -10rem;
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -20vh;
}
